@font-face {
  font-family: "Gotham";
  src: url("./woff2/Gotham-Thin_Web.woff2") format("woff2"), url("./woff/Gotham-Thin_Web.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("./woff2/Gotham-XLight_Web.woff2") format("woff2"), url("./woff/Gotham-XLight_Web.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("./woff2/Gotham-Light_Web.woff2") format("woff2"), url("./woff/Gotham-Light_Web.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("./woff2/Gotham-Book_Web.woff2") format("woff2"), url("./woff/Gotham-Book_Web.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("./woff2/Gotham-Medium_Web.woff2") format("woff2"), url("./woff/Gotham-Medium_Web.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("./woff2/Gotham-Bold_Web.woff2") format("woff2"), url("./woff/Gotham-Bold_Web.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("./woff2/Gotham-Black_Web.woff2") format("woff2"), url("./woff/Gotham-Black_Web.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("./woff2/Gotham-Ultra_Web.woff2") format("woff2"), url("./woff/Gotham-Ultra_Web.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
